/praktikum4/JavaApplication1/nbproject/private/
/praktikum4/SoapWebservice/nbproject/private/
/praktikum4/SoapWebservice/build/
/praktikum4/SoapWebClient/nbproject/private/
/praktikum4/SoapWebClient/build/
/praktikum4/SoapWebClient/dist/
/praktikum4/RestWebService/nbproject/private/
/praktikum4/RestWebService/build/
/praktikum4/RestWebService/RestWebService-war/nbproject/private/
/praktikum4/RestWebService/RestWebService-ejb/nbproject/private/
/praktikum4/RestClient/nbproject/private/
/praktikum4/RestClient/build/
*.class
